:local(.styles) {

    .user-info-container {
      display: flex;
      flex-direction: flex;
      justify-content: space-between;
    }

    .user-info {
      display: flex;
      flex-direction: flex;
    }

}
