<h1>Sign Up</h1>

<div class="signin-outter-container">
  <img class="signin-background" src="/assets/castle.jpg">
  </img>
  <div class='sign-in-container'>
    <form class="signin-form"action="<%= users_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class='username-container'>
        <label class="username-label">
          Username
        </label>
        <div class="input-field">
          <input class="username-input-field" type="text" name="user[username]">
        </div>
        <br>
      </div>

      <div class='password-container'>
        <label class="password-label">
          Password
        </label>
        <div class="input-field">
          <input class="password-input-field" type="password" name="user[password]">
        </div>

        <br>
      </div>

      <div class='submit-button-container'>
        <input class="signinup-button" type="submit" value="Sign Up">
      </div>


      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="user[username]" value="Juggernaut">
        <input type="hidden" name="user[password]" value="qweasd">

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button type="submit" class="demo_user_button">Demo User</button>
      </form>
    </form>
  </div>

</div>
