.form-auth {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 16px;
}

.auth-input {
  text-align: center;
  height: 15%;
  width: 100%;
}

.auth-control {
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.checkbox {
  height: 15%;
}

.demo-button {
  float: right;
  height: 100%;
  width: 150px;
}

.auth-button {
  height: 15%;
  width: 100%;
}

// #signUpCheckbox {
//   height: 15%;
//   top: 35px;
//   position: relative;
// }
