.form-auth {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 20px;
  -webkit-appearance: none;
}

.auth-input {
  text-align: center;
  height: 30px;
  width: 100%;
  display: flex;
}

.auth-control {
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-left: 10px;
  font-weight: 200;

}

.checkbox {
  height: 15%;
  display: flex;
  justify-content: space-between;
  // background-color: none;
}

.demo-button {
  float: right;
  height: 45px;
  width: 100px;
  color: white;
  font-size: 14px;
  background-color: #B98405;
}

.demo-button:hover {
  cursor: pointer;
  background-color: #FDB918;
}

.auth-button {
  height: 45px;
  width: 100%;
  background-color: #0B6192;
  font-size: 23px;
  color: white;
}

.auth-button:hover {
  cursor: pointer;
  // background-color: #1178B3;
  background-color: #109EEF;

}

.remember-me:hover {
  cursor: pointer;
}

.username-icon-container {
  float: left;
  width: 11%;
  height: 36px;
  padding-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username-icon {
  height: 60%;
  width: 60%;
  left: 5px;
  position: relative;
  top: 8px;
}

.remember-me-container {
  font-size: 12px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
