.footer {
  background-color: black;
  height: 55px;
}

.footer-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row-container {
  display: flex;
  justify-content: space-around;
}
