h4, h1 {
  font-family: "Avenir Next";
  color: white;
}

.landing-page-background-container {
  position: relative;
  left: -10px;
  right: -10px;
  bottom: 0px;
  top: 0px;
  width: 102%;
  height: 100%;
}

.landing-page-background-photo {
  width: 100%;
  height: inherit;
}

.input-group {
  text-align: center;
  height: 100%;
  width: 100%;
}

.input-group-btn {
  height: 40%;
  width: 30%;
  font-size: 30px;
}

.input-group-btn .btn {
  height: 46%;
  width: 15%;
  font-size: 30px;
}

.form-control {
  height: 44px !important;
  width: 100%;
  font-size: 20px;
  padding-left: 10px;
}

.search-icon-container {
  background-color: white;
  color: white;
  height: 46px;
  width: 150px;
}

.search-icon-container:hover {
  background-color: #C4EAFF;
  cursor: pointer;
}

.container-title h1, h4 {
  text-align: center;
}

.container-title h1 {
  display: block;
  font-size: 50px;
  color: white;
  margin-top: 70px;
  margin-bottom: -50px;
}

.container-title h4 {
  font-size: 18px;
  color: white;
  margin-top: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 silver, 0 -1px silver;
}

.landing-page-background {
  position: relative;
  width: 100%;
  height: 660px;
}

.landing-page-background img {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.app {
  // top: 55px;
  // right:0px;
  // bottom: 0px;
  // left:-10px;
  height: 100%;
  width: 100%;
  // position: relative;
}

.landing-page {
  top: 0px;
  right:0px;
  bottom: 0px;
  left:0px;
  display:flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.landing-page-wrapper {
  height: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  // border: 1px solid white;

}

.container-title {
  height: 50%;
  position: absolute;
  top: 100px;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
  height: 45px;
  position: relative;
  width: 100%;
  justify-content: center;
  display:flex;
  bottom: 20%;
}

.search-button {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  border: 0px;
  float: right;
}

.center {
  width: 650px;
  display: flex;
}

.search-button:hover {
  cursor: pointer;
}

.input-space {
  width: 490px;
}

#landing-search-input {
  border: 0px;
  width: 490px;
}

#searchbar-form {
  width: 490px;
}
