p, h3 {
  font-family: "Avenir Next";
}

.media {
  height: 500px;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 20px;
  position: relative;
  left: -10px;
  width: 105%;
}

.lair-share-media {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-wrap {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.quote-text {
  text-align: center;
  width: 400px;
  font-size: 24px;
}

.quote-left {
  height: 400px;
  width: 100%;
  text-align: center;

}

.quote-image {
  height: 200px;

}

.quote-author {
  font-size: 28px;
}

.quote-picture {
  border-radius: 50%;
  width: 200px;
  height: auto;
  margin-top: 7px;
}
