[class*="logo"] {
  display: inline;
}


.LS-logo img[src="/assets/LS-logo-1.png"] {
  width: 40px;
  border-radius: 16px;
  height: 40px;

}
.LS-logo img[src="/assets/LS-logo-1.png"]:hover {
  box-shadow: 0px 0px 20px #000;
    filter:progid:DXImageTransform.Microsoft.Glow(Color=black,Strength=20);
}

.LI-logo img[src="/assets/LinkedIn.png"] {
  width: auto;
  height: 40px;
}
.LI-logo img[src="/assets/LinkedIn.png"]:hover {
  box-shadow: 0px 0px 20px #000;
    filter:progid:DXImageTransform.Microsoft.Glow(Color=black,Strength=20);
}

.GH-logo img[src="/assets/GitHub.png"] {
  width: auto;
  border-radius: 32px;
  height: 40px;
}
.GH-logo img[src="/assets/GitHub.png"]:hover {
  box-shadow: 0px 0px 20px #000;
    filter:progid:DXImageTransform.Microsoft.Glow(Color=black,Strength=20);
}

#navbar ul li{
  list-style: none;
  display: inline;
  padding: 20px 20px;

}


.navBar-left ul {
  display: inline-block;
  float: left;
  padding: 5px 5px;

}

.navBar-right {
  display: flex;
  align-items: center;
  float: right;
  padding: 10px 20px;

}

#navbar {
  display:flex;
  justify-content: space-between;
  border: 2px solid #DCDCDC;
  background-color: silver;
}
