// .reserve-lair-button:hover {
//   height: 40px;
//   width: 80px;
//   background-color: blue;
//   font-weight: bolder;
//   color: white;
// }

.room-show-about-container p {
  padding-right: 10px;
}

.room-header-container {
  display: flex;
  justify-content: space-between;
  height: 175px;

}

.room-header-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.host-picture-container {
  width: 200px;
  height: 200px;margin-left: 40px;


}
.host-picture-container p {
  font-weight: bolder;
  position: relative;
  top:120px;
  left: 43px;
}

.host-username-container {
  text-align: center;
  position: relative;
  top: 20px;
  right: 10px;
}

.room-show-host-picture {
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: auto;
  margin-top: 7px;

}

.room-details-container {
  width: 100%;

}

.reserve-lair-button {
  position: relative;
  // display: inline-flex;
  // margin: 30px;
  // justify-content: space-around;
   border-top: 1px solid #ffffff;
   background: #8f9da6;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#995c00));
   background: -webkit-linear-gradient(top, #ff9900, #995c00);
   background: -moz-linear-gradient(top, #a7b2ba, #8f9da6);
   background: -ms-linear-gradient(top, #a7b2ba, #8f9da6);
   background: -o-linear-gradient(top, #ff9900, #995c00);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 100%;
   height: 100%;
 }

 .reserve-lair-button:hover {
   background: -webkit-linear-gradient(top, #ff9900, #ffc266);
   box-shadow: #62a2c4 0 1px 0;
  //  background: #62a2c4;
   color: gray;
 }
 .reserve-lair-button-container {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50%;
 }



.room-show-content-container {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding-left: 5%;
  padding-right: 5%;

}

.detail-outer-container {
  display: flex;
  justify-content: space-between;;
  padding-left: 60px;
}

.inner-list-one {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 40%;
}

.inner-list-one img {
  width: 40px;
  height: auto;
}

.inner-list-two {
  padding-left: 20px;
  padding-right: 20px;
}

.detail-inner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.left-half-room {
  display: flex;
  width: 60%;

}

.details {
  width: 89%;
  padding-left: 50px;
  font-size: 16px;
  background-color: #f5f5f5;
}

.right-half-room {
  flex-direction: column;
  width: 40%;
  right: 0px;
  background-color: #f5f5f5;
}

.room-show-price {
  // background-color: white;
  border-bottom: 5px solid silver;
  width: 100%;

}

.room-show-price-text {
  text-align: center;
}

.room-show-price-text h1 {
  color: #1178B3;
}


.map-reserve-container {
  background-color: aliceblue;
  display:flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 5px solid silver;
  height: 564px;
}

.date-container {
  width: 100%;
}

.right-half-room .gmap {
  height: 400px;
  width: 100%;
  right: 0px;
  margin-bottom: 5px;
  // z-index: 10 !important;
}

#room-show-gmap {
  width: 100%;
  height: 360px;
}

.gmap {
  height: 100% !important;
}


.slider {
  width: 100% !important;
  height: 600px !important;

}

.slider-frame {
  overflow: hidden !important;
  position: relative !important;
  height: inherit !important;
}

.profile-pic {
  border-radius: 32px;
}

// #room-show {
//     padding: 0.5ex;
//     width: 600px;
//     background-color: #333;
//     color: #fff;
//     font-size: 2em;
//     border-radius: 0.5ex;
// }
//
// #room-show.stick {
//     margin-top: 0 !important;
//     position: fixed;
//     top: 0;
//     z-index: 10000;
//     border-radius: 0 0 0.5em 0.5em;
// }
