.sf-button:hover {
  cursor: pointer;
  font-weight: bolder;
  font-size: 17px;
}

.sf-button {
  color: blue;
  text-decoration: underline;
}



hr {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0;
}

.dates-title {
  font-weight: bold;

  display:flex;
  justify-content: space-around;
}

.dates-calendar {
  font-weight: bold;

  display:flex;
  justify-content: space-around;
}

.calendar-filter {
  display: flex;
  justify-content: space-around;
}

.room-info {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px;
  overflow: hidden;
  margin: 0px 0px;
}

DatePicker {
  background-color: red;
}


#content {
  height: 100%;
  width: 100%;
  bottom: 0px;
}

.search-container {
  position: absolute;
  left: 0px;
  right: 0px;
  // top: 80px; //no application.html.erb
  top: 66px;
  bottom: 0px;

  display: flex;
  // height: inherit;
  // width: inherit;
  justify-content: space-around;
  background-color: #f5f5f5;
  // width: 900px;

}


//map



.right-half {
  // float: right;

  position: absolute;
  width: 40%;
  height: 100%;
  bottom: 0px;
  right: 0px;
}


.left-half {
  position: absolute;

  width: 60%;
  height: 100%;
  overflow: auto;
  left: 0px;
  top: 0px;
  bottom: 0px;
  // float: right;

}

.gmap {
  height: 100%;
  width: 100%;
  bottom: 0px;
}
//
// .search-list-result {
//   position: relative;
// }


#search-index-amount {
  text-align: center;
}

.search-index-amount {
  display: flex;
  // align-content: center;
  justify-content: center;
}


// .ui-slider-range {
//   background-color: : blue;
// }

.price-range-slider-container {
  width: 90%;
  margin: auto;
}

.price-range-container {

  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.price-range-title-container {
  display: flex;
  // align-content: center;
  justify-content: center;
}

.guest-num-selection-container {
  display: flex;
  // align-content: center;
  justify-content: center;
}
.guest-num-title-container {
  font-weight: bold;
  text-align: center;
  // align-content: center;
  // justify-content: center;
}

.guest-num-container {
  display: flex;
  flex-direction: column;
  // align-content: center;
  // justify-content: center;
}

.Guests {
  width: 110px;
  height: auto;
  font-size: 32px;
}

.room-type-title-container {
  font-weight: bold;
  display: flex;
  justify-content: center;
}


.room-type-checkbox-container {
  display: flex;
  justify-content: space-around;
}


.room-type-checkbox-container div {
  position: relative;
  display: inline-flex;
  // margin: 30px;
  justify-content: space-around;
   border-top: 1px solid #ffffff;
   background: #8f9da6;
   background: -webkit-gradient(linear, left top, left bottom, from(#a7b2ba), to(#8f9da6));
   background: -webkit-linear-gradient(top, #a7b2ba, #8f9da6);
   background: -moz-linear-gradient(top, #a7b2ba, #8f9da6);
   background: -ms-linear-gradient(top, #a7b2ba, #8f9da6);
   background: -o-linear-gradient(top, #a7b2ba, #8f9da6);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;

   }
.room-type-checkbox-container div:hover {
  box-shadow: #62a2c4 0 1px 0;
  background: #1178B3;
  // color: #ccc;
   }
.room-type-checkbox-container div:active {
   border-top-color: #7d9bad;
   background: #7d9bad;
   }


//
// .room-type-checkbox-container div {
//   display: inline-block;
//   border: 2px solid silver;
//   margin: 2px;
// }

// .room-type-checkbox-container div:hover {
//   display: inline-block;
//   border: 2px solid blue;
//   margin: 2px;
//   background-color: silver;
// }



.redirect-to-sf {
  font-size: 20px;
  font-weight: bold;
  // bottom: 190px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.redirect-to-sf h4 {
  color: black;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // flex-flow: row wrap;
  text-align: center;

}

.filters {
  float: left;
  display: inline;
}

.room-index-item:hover {
  box-shadow: 0px 0px 5px 5px silver;
  // bottom: 10px;
}

.room-index-item {
  width: 40%;
  height: auto;
  // border: 3px solid black;
  list-style: none;
  background-color: #E7ECEE;


  padding: 5px 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 8px;
  // -moz-border-radius: 32px;
  border-radius: 32px;
  // -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  // -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  // box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  min-height: 300px;
  min-width: 300px;


}

.room-picture img {
  overflow: hidden;
  border-radius: 32px;

}

.room-picture {
  height: 80%;
  width: 100%;
  display: flex;
  padding: 0px 0px;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0px;
  min-height: 300px;
  min-width: 300px;


}

.room-index-item ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.room-index-item ul img {

  background: 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 300px;
  height: 250px;
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  min-width: 300px;

}
