.signin-outter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  font-family: "Avenir Next";
}

.sign-in-container {
  margin: 15px auto;
  border: 1px solid silver;
  background: rgba(128,128,128,.8);
  width: 500px;
  height: 300px;
  border-radius: 15px;
  color: white;
  box-shadow: 5px 5px 5px black;
}

.signin-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  flex-direction: column;
}

.username-label {
  font-size: 28px;
}

.username-input-field {
  border-radius: 15px;
  width: 100%;
  height: 30px;
  font-size: 20px;
  background-color: transparent;
  padding-left: 10px;
  color: white;
}

.password-label {
  font-size: 28px;
}

.password-input-field {
  border-radius: 15px;
  width: 100%;
  height: 30px;
  font-size: 20px;
  background-color: transparent;
  padding-left: 10px;
  color: white;

}

.signin-background {
  z-index: -1;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.username-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.password-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.session-buttons {
  display: flex;
  width: 300px;
  justify-content: space-around;
  left: 100px;
  position: relative;
}

.submit-button-container {
  width: 115px;
  height: 32px;
}

.signinup-button:hover {
  cursor: pointer;
  color: #1178B3;
  text-shadow: 0px 0px 1px white;
}

.signinup-button {
  width: 100%;
  height: 32px;
  background-color: #551A8B;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.demo_user_button {
  border-radius: 15;
}

.signin-demo-container {
  position: relative;
  bottom: 65px;
  left: 100px;
  width: 175px;
}

.signin-demo-container:hover {
  text-shadow: 0px 0px 1px white;
}

.signin-form-container {
  height: 100%;
}
