// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input-group {
  text-align: center;
}
.container-title {
  height: 300px;
}
.container-title h1, h4 {
  transform: translateY(120px);
  text-align: center;
}

.half {
  height: 400px;
  width: 400px;
}

.room-index-item {
  display: inline-block;
}

.room-index-item img {
  width: auto;
  height: 200px;
  border: 3px solid black;
}

.room-index-item img[src="assets/VolcanoLair/entrance.jpg"] {
    width: 356px;
    height: 200px;
    overflow: hidden;
}


// #content {
//   margin: 0 auto;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 600px;
//   width: 100%;
//   background-image: url("/assets/underwater/underwater-base.jpg");
//   background-size: cover;
// }
[class*="logo"] {
  display: inline;
}

// .Home-logo img[src="/assets/Home-logo.png"] {
//   width: 50px;
//   height: 50px;
// }

.LS-logo img[src="/assets/LS-logo-1.png"] {
  width: 50px;
  height: 50px;
}

.LI-logo img[src="/assets/LinkedIn.png"] {
  width: auto;
  height: 50px;
}

.GH-logo img[src="/assets/GitHub.png"] {
  width: auto;
  height: 50px;
}

#navbar ul li{
  list-style: none;
  display: inline;
  padding: 10px 10px;
  border-right: 2px solid white;
  border-left: 2px solid white;
}


.navBar-left {
  display: inline-block;
  float: left;
  padding: 10px 20px;
  border-right: 2px solid white;
  border-left: 2px solid white;

}

.navBar-right {
  display: inline;
  float: right;
  padding: 10px 20px;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

#navbar {
  border: 2px solid black;
}
