// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//landing page

#content {
  height: auto !important;
  height: 100%;
  width: auto !important;
  width: 100%;
}

.search-container {
  display: flex;
  height: inherit;
  width: inherit;
  justify-content: space-around;
  // width: 900px;

}


//map
.right-half {
  // float: right;
  width: 50%;
  height: 550px;
}


.left-half {
  // float: right;
  width: 50%;
  height: 550px;
  overflow:auto;
}

.gmap {
  height: 100%;
  width: 100%;

}



//search

.search-results {
  // display: flex;
  // flex-flow: row wrap;
  text-align: center;
}

.filters {
  float: left;
  display: inline;
}

.room-index-item {
  border: 3px solid black;
  list-style: none;

}

.room-index-item ul {
  list-style: none;
}

.room-index-item ul img {
  width: auto;
  height: 200px;
  overflow: hidden;
}



//navbar


[class*="logo"] {
  display: inline;
}


.LS-logo img[src="/assets/LS-logo-1.png"] {
  width: 50px;
  height: 50px;
}

.LI-logo img[src="/assets/LinkedIn.png"] {
  width: auto;
  height: 50px;
}

.GH-logo img[src="/assets/GitHub.png"] {
  width: auto;
  height: 50px;
}

#navbar ul li{
  list-style: none;
  display: inline;
  padding: 10px 10px;
  border-right: 2px solid white;
  border-left: 2px solid white;
}


.navBar-left ul {
  display: inline-block;
  float: left;
  padding: 10px 20px;

}

.navBar-right {
  display: inline;
  float: right;
  padding: 10px 20px;

}

#navbar {
  border: 2px solid black;
}
