

.user-trip-categories {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-right: 40px;
}

.list-group-item {
  border: 1px solid #145D08;
  margin: 3px;
  text-align: center;
  border-radius: 7px;
  background-color: white;

}

.list-group-item:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.user-trip-index-outer-container {
  position: fixed;;
  top: 67px;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
}

.trip-item-and-detail {
  /*width: 100%;*/
  /*position: relative;*/
  height: 80%;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.trip-list-panel {
  width: 35%;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 5px;
  overflow-y: scroll;
}

.trip-detail-panel {
  width: 65%;
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px;
  padding-right: 20px;
  overflow-y: scroll;
  background-color: white;
}


.flex-row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.trip-item-image {
  width: 300px;
  height: 170px;
}

.trip-receipt-pic {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.panel-heading {
  background-color: #D7F7DB;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

/*.trip-list-panel {
}*/

.list-group {
  border-top: 1px solid #145D08;
  min-height: 5px;
  /*border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;*/
}

.active {
  font-weight: bold;
  font-size: 17px;
  background-color: aliceblue;
  /*border: 1px solid #145D08;*/
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding: 5px;
  color: #145D08;
}

.active-background {
  background-color: aliceblue;
}

.inactive-tab {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding: 5px;
  font-size: 17px;
  color: #145D08;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding: 5px;
  font-size: 17px;
  color: #145D08;
  width: 25%;
  border: 1px solid black;
  border-bottom: solid black;
}

.user-trip-categories .active {
  width: 25%;
  border: 1px solid black;
  border-bottom: none;
}



.inactive-tab:hover {
  cursor: pointer;
}

.receipt-filter-detail {
  height: 20px;
}

.receipt-filter-detail h4 {
  color: orange;
}

.receipt-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.receipt-container {
  display: flex;
  flex-direction: column;
  height: 180px;
}

.panel-heading-left {
  padding: 5px;
  font-weight: 800;
  color: #145D08;
  font-size: 18px;
}

.panel-heading-right {
  position: relative;
  top: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  background-color: green;
  border-radius: 32px;
  height: 11px;
  width: 15px;
  text-align: center;
  color: aliceblue;
}

.panel {
  border: 1px solid #145D08;
  border-radius: 8px;

}

.user-trip-outer-container {
  margin-bottom: -15px;
}
