<!DOCTYPE html>
<html>
<head>
  <title>LairShare</title>
  <link rel="icon"
      type="image/png"
      href="/assets/lairshare_logo_favicon.png">
      
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKoAy6rkH7LN5KwoNWQIIfC-QJ5IkPakc"
  type="text/javascript">
  </script>

  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js">
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-75749644-1', 'auto');
    ga('send', 'pageview');
  </script>

  <script src="https://cdn.smooch.io/smooch.min.js"></script>

</head>

<body>
  <script>
  Smooch.init({ appToken: 'a16hqj8c22xcx4xe9zmm5ma2k' });
  </script>
<%= yield %>
</body>
</html>
